body{
font-family:Arial;
background:#0f172a;
color:white;
margin:0;
}

header{
text-align:center;
padding:30px;
background:#020617;
}

header h1{
color:#22c55e;
}

.game-container{
display:flex;
justify-content:center;
gap:30px;
padding:40px;
flex-wrap:wrap;
}

.game-card{
background:#1e293b;
border-radius:10px;
width:250px;
text-align:center;
padding:20px;
transition:0.3s;
}

.game-card:hover{
transform:scale(1.05);
}

.game-card img{
width:100%;
border-radius:10px;
}

button{
margin-top:10px;
padding:10px 20px;
background:#22c55e;
border:none;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#16a34a;
}